body {
  background-color: #161616;
}

.App {
  display: flex;
  justify-content: space-around;
}

.block {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  text-align: center;
}

img {
  width: 500px;
}

.cartIcon {
  width: 70px;
}

.categoryButton:hover {
  background-color: #fdeb6b;;
}

.categoryButtonSelected {
  background-color: green;
}

.categoryButton {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

.icon {
  width: 20px;
}

p, h1, h2, button {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

button {
  background-color: #fdeb6b;
  margin-top: 40px;
  margin-left: 10px;
}

.img-cart {
  width: 120px;
}

@media all and (max-width: 800px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}